[build]
builder = "nixpacks"

[deploy]
startCommand = "npm start"
preDeployCommand = "npm run predeploy"
healthcheckPath = "/"
healthcheckTimeout = 300
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10 