.loadingAnimation {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
}

.canvas {
	width: 100%;
	height: 100%;
	border-radius: 8px;
}

/* Medium size (default) */
.medium {
	width: 100%;
	height: 100%;
}

/* Small size */
.small {
	width: 100%;
	height: 100%;
}

/* Large size */
.large {
	width: 100%;
	height: 100%;
}

/* Responsive design */
@media (max-width: 768px) {
	.medium {
		width: 100%;
		height: 100%;
	}

	.large {
		width: 100%;
		height: 100%;
	}
} 