.wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

@media (max-width: 900px) {
	.wrapper {
		padding: 0 1.5rem;
	}
}

@media (max-width: 600px) {
	.wrapper {
		padding: 0 1rem;
	}
}
.container {
	width: 100%;
	max-width: var(--page-content-max-width, 1200px);
	margin: 0 auto;
	padding: 1.5rem 2rem 2.5rem;
}

.containerFullHeight {
	min-height: 100%;
}

.containerStretch {
	display: flex;
	flex-direction: column;
}

@media (max-width: 700px) {
	.container {
		padding: 1rem 1rem 2rem;
	}
}

